body {
  margin: 0;
  background-color: #edc3ab;
  font-family: inter;
}

h1,
h6,
p {
  margin: 0;
}

p,
h6 {
  font-size: 12px;
}

h6 {
  margin-bottom: 6px;
}

h1 {
  font-size: 79px;
  font-family: sans-serif;
  margin: 10px 0;
}

section {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.first-container {
  display: flex;
  gap: 1.7rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-container {
  display: flex;
  gap: 2rem;
}

.second-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 130px 150px;
  grid-template-areas:
    "sea sea"
    "para para"
    "sky sky"
    "star street";
  gap: 2px;
}
h1 {
  grid-area: sea;
}

.p-container {
  grid-area: para;
}

.sky {
  grid-area: sky;
}
.p-container div {
  flex: 1;
}

@media only screen and (min-width: 900px) {
  section {
    padding: 3.5rem 4rem;
    gap: 2rem;
  }

  .second-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 201px;
    grid-template-areas:
      "sky sea sea"
      "sky para para"
      "sky star street";
  }

  .p-container {
    gap: 2.3rem;
  }

  h1 {
    margin-left: 2rem;
  }
}
