body {
  margin: 0;
  background-color: #edc3ab;
}

h1,
h6,
p {
  margin: 0;
}

p,
h6 {
  font-size: 12px;
}

h6 {
  margin-bottom: 6px;
}

h1 {
  font-size: 79px;
  font-family: sans-serif;
}

section {
  padding: 3rem 2.5rem;
}

.first-container {
  display: flex;
  gap: 1.7rem;
}

img {
  width: 100%;
}

.p-container {
  display: flex;
  gap: 2rem;
}

/* .second-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
} */
